## Resume Classification 
### Business objective- 
+ The document classification solution should significantly reduce the manual human effort in the HRM. It should achieve a higher level of accuracy and automation with minimal human intervention

## Step 1. Import Necessary Libraries

In [1]:
import os
import re
import nltk
import spacy
import string
import textract
from docx import Document
import doc2docx
from pdf2docx import Converter
import pandas as pd
import seaborn as sns
from matplotlib import pylab
from matplotlib import pyplot as plt
from sklearn.preprocessing import LabelEncoder


from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from wordcloud import WordCloud, STOPWORDS
from nltk.stem import PorterStemmer, WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer

import warnings
warnings.filterwarnings('ignore')

[INFO] NumExpr defaulting to 8 threads.

In [2]:
os.listdir('Resumes/')

['Intership',
 'Peoplesoft resumes',
 'Reactjs',
 'SQL Developer Lightning insight',
 'workday resumes']

## Step 2. Convert PDF file to docx

In [3]:
## Keeping PDF file location in a seperate variable
pdf_file = r"C:\Users\radha\Resume-Classificaion\Resumes\Reactjs\Reactjs Developer_Prabakaran_Musquare Technologies.pdf"
# Maintaining the Document's path in a separate variable
docx_file = r"C:\Users\radha\Resume-Classificaion\Resumes\Reactjs\Reactjs Developer_Prabakaran_Musquare Technologies.docx"
# Using the built-in function, convert the PDF file to a document file by saving it in a variable.
cv = Converter(pdf_file)
# Storing the Document in the variable's initialised path
cv.convert(docx_file)
# Convertion closer through the function close()
cv.close()

[INFO] Start to convert C:\Users\radha\Resume-Classificaion\Resumes\Reactjs\Reactjs Developer_Prabakaran_Musquare Technologies.pdf
[INFO] [1/4] Opening document...
[INFO] [2/4] Analyzing document...
[INFO] [3/4] Parsing pages...
[INFO] (1/2) Page 1
[INFO] (2/2) Page 2
[INFO] [4/4] Creating pages...
[INFO] (1/2) Page 1
[INFO] (2/2) Page 2
[INFO] Terminated in 2.36s.

## Step3 : Prepare Convert doc to docx founction and
## Adding the data in .docx file into data frame

In [4]:
os.listdir('Resumes/Intership/')

['Internship_Ravali_Musquare Technologies (1).docx',
 'Internship_Susovan Bag_Musquare Technologies.docx']

In [5]:
file_path1 = []
category1  = []
directory1 = 'Resumes/Intership/'
Internships = os.listdir('Resumes/Intership/')
for intership in Internships:
    os.path.join(directory1,intership)
    file_path1.append(textract.process(os.path.join(directory1,intership)))
    category1.append('Intership')

In [6]:
data1 = pd.DataFrame(file_path1,columns = ['Raw Details'])
data1['Category'] = category1
data1

                                         Raw Details   Category
0  b'Name: Ravali P \n\n\n\n                     ...  Intership
1  b'SUSOVAN  BAG   \n\nSeeking  a  challenging  ...  Intership

In [7]:
directory2 = 'Resumes/Peoplesoft resumes/'
Peoplesofts = os.listdir('Resumes/Peoplesoft resumes/')
for Peoplesoft in Peoplesofts:
    if Peoplesoft.endswith('.doc'):
        os.path.join(directory2,Peoplesoft)
        print(os.path.join(directory2,Peoplesoft))
        doc2docx.convert(os.path.join(directory2,Peoplesoft))

Resumes/Peoplesoft resumes/Peoplesoft Admin_Priyanka Ramadoss.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/Peoplesoft resumes/Peoplesoft Admin_srinivasarao.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/Peoplesoft resumes/Peoplesoft Admin_Vinod Akkala.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/Peoplesoft resumes/PeopleSoft DBA_Ganesh Alladi.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/Peoplesoft resumes/Peoplesoft Finance_Arun Venu.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/Peoplesoft resumes/Peoplesoft Finance_Pritam Biswas.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/Peoplesoft resumes/Peoplesoft Finance_Rahul Ahuja.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/Peoplesoft resumes/Peoplesoft FSCM_R Ahmed.doc

  0%|          | 0/1 [00:00<?, ?it/s]

In [8]:
file_path2 = []
category2  = []
for Peoplesoft in Peoplesofts:
    if Peoplesoft.endswith('.docx'):
        os.path.join(directory2,Peoplesoft)
        file_path2.append(textract.process(os.path.join(directory2,Peoplesoft)))
        category2.append('Peoplesoft')

In [9]:
data2 = pd.DataFrame(file_path2,columns = ['Raw Details'])
data2['Category2'] = category2
data2

                                          Raw Details   Category2
0   b'Anubhav Kumar Singh\t\t\n\n\n\nCore Competen...  Peoplesoft
1   b'G. Ananda Rayudu \n\n\t\t       https://www....  Peoplesoft
2   b'PeopleSoft Database Administrator\n\n       ...  Peoplesoft
3   b'Classification: Internal\n\nClassification: ...  Peoplesoft
4   b'Priyanka Ramadoss\n\n\t61/46, MountPleasant,...  Peoplesoft
5   b"SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n...  Peoplesoft
6   b"PEOPLESOFT Administrator\n\n\n\n\n\nSRINIVAS...  Peoplesoft
7   b"PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCar...  Peoplesoft
8   b'Vinod Akkala                                ...  Peoplesoft
9   b"PeopleSoft Admin/PeopleSoft DBA\n\n\n\nGanes...  Peoplesoft
10  b'PeopleSoft Administration\n\n \n\nVivekanand...  Peoplesoft
11  b'Arun Venu\n\n\n\n\t  EXPERIENCE SUMMARY\t\n\...  Peoplesoft
12  b'Personal Details\t\t\n\n\n\nName\n\nPritam B...  Peoplesoft
13  b'Rahul Ahuja\n\n-----------------------------...  Peoplesoft
14  b'Hari Narayana \t\t              \n\n\t\n\n\n...  Peoplesoft
15  b'Murali\t\t       \n\n\t\n\n\n\n\n\n\n\n\n\n\...  Peoplesoft
16  b'Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\...  Peoplesoft
17  b'R Ahmed                                     ...  Peoplesoft
18  b'Tanna Sujatha \n\n\n\n\n\n\n\nOBJECTIVE\n\nS...  Peoplesoft
19  b"C O N T A C T :\n\n\n\nAddress: Manyata Tech...  Peoplesoft

In [10]:
directory3 = 'Resumes/Reactjs/'
reactjs_resumes = os.listdir('Resumes/Reactjs/')
for reactjs_resume in reactjs_resumes:
    if reactjs_resume.endswith('.doc'):
        os.path.join(directory3,reactjs_resume)
        print(os.path.join(directory3,reactjs_resume))
        doc2docx.convert(os.path.join(directory3,reactjs_resume))

Resumes/Reactjs/React Developer_PavasGoswami.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/Reactjs/React Developer_Vinay Reddy.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/Reactjs/React JS Developer_AnjaniPriyadarshini.doc

  0%|          | 0/1 [00:00<?, ?it/s]

In [11]:
file_path3 = []
category3  = []
for reactjs_resume in reactjs_resumes:
    if reactjs_resume.endswith('.docx'):
        os.path.join(directory3,reactjs_resume)
        file_path3.append(textract.process(os.path.join(directory3,reactjs_resume)))
        category3.append('ReactJS')

In [12]:
data3 = pd.DataFrame(file_path3,columns = ['Raw Details'])
data3['Category3'] = category3
data3

                                          Raw Details Category3
0   b'Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREE...   ReactJS
1   b'HARIPRIYA BATTINA \n\nExperience as UI Devel...   ReactJS
2   b'KAMALAKAR REDDY. A \n\nLinked In: https://ww...   ReactJS
3   b'Naveen Sadhu\n\n\n\n\n\nTitle: software deve...   ReactJS
4   b'FULLSTACK SOFTWARE DEVELOPER / WEB DEVELOPER...   ReactJS
5   b'PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertis...   ReactJS
6   b"SARALA MADASU\n\nSARALA MADASU\n\n\xee\xa5\x...   ReactJS
7   b"Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2...   ReactJS
8   b"Maryala Vinay Reddy\n\n\n\n\tProfessional Su...   ReactJS
9   b'Ui-Developer/ React JS Developer \n\nNAME: K...   ReactJS
10  b'Ui-Developer/ React JS Developer \n\nNAME: K...   ReactJS
11  b'CURRICULUM VITAE\n\n\n\n\n\n\n\nAnjani Priya...   ReactJS
12  b'Kotani Durga Prasad\n\n\n\n\n\nObjective:\n\...   ReactJS
13  b'Venkatalakshmi Pedireddy\n\nSoftware Develop...   ReactJS
14  b'KAMBALA SAI SURENDRA   \n\n \n\n \n\n \n\n\n...   ReactJS
15  b'MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW...   ReactJS
16  b'MAREEDU LOKESH BABU\n\n\n\nPROFESSIONAL OVER...   ReactJS
17  b'MD KHIZARUDDIN RAUF \n\n \t EXPERIENCE \n\n ...   ReactJS
18  b'Name: M. Prabakaran \nTitle: UI Developer\n\...   ReactJS
19  b'Pranish Sonone\n\n\t\t\n\n\n\n\n\n\n\n\n\nCa...   ReactJS
20  b"Ranga Gaganam  \n\n\n\n \n\nProfessional\n\n...   ReactJS
21  b'SHAIK ABDUL SHARUK   \n\n2 years\xe2\x80\x99...   ReactJS

In [13]:
directory4 = 'Resumes/SQL Developer Lightning insight/'
sql_resumes = os.listdir('Resumes/SQL Developer Lightning insight/')
for sql_resume in sql_resumes:
    if sql_resume.endswith('.doc'):
        os.path.join(directory4,sql_resume)
        print(os.path.join(directory4,sql_resume))
        doc2docx.convert(os.path.join(directory4,sql_resume))

Resumes/SQL Developer Lightning insight/Nazeer Basha.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/SQL Developer Lightning insight/Priyanka L.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/SQL Developer Lightning insight/Tatikonda Kiran Kumar.doc

  0%|          | 0/1 [00:00<?, ?it/s]

In [14]:
file_path4 = []
category4  = []
for sql_resume in sql_resumes:
    if sql_resume.endswith('.docx'):
        os.path.join(directory4,sql_resume)
        file_path4.append(textract.process(os.path.join(directory4,sql_resume)))
        category4.append('SQL')

In [15]:
data4 = pd.DataFrame(file_path4,columns = ['Raw Details'])
data4['Category4'] = category4
data4

                                          Raw Details Category4
0   b'ANIL KUMAR MADDUKURI  \t\t\n\nSQL & MSBI Dev...       SQL
1   b'Aradhana Tripathi\n\n\n\nCurrent Location: G...       SQL
2   b"BUDDHA VAMSI                                ...       SQL
3   b'KAMBALLA PRADEEP                            ...       SQL
4   b"\xef\x81\x81 Hyderabad\n\n\nNazeer Basha\n\n...       SQL
5   b'Resume\n\nName     :  Neeraj Mishra\n\n\n\nE...       SQL
6   b'SQL DEVELOPER\n\nName: -   Bandi prem sai\n\...       SQL
7   b'SQL SERVER DEVELOPER\n\n\n\n\n\nPriyanka L  ...       SQL
8   b'SQL SERVER DEVELOPER\n\n\n\n\n\nP. Syam Kuma...       SQL
9   b'RAJU PAVANA KUMARI\n\n\n\n\t\n\n\tProfession...       SQL
10  b'resume\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t\t\t\tRa...       SQL
11  b'Name: Ramesh\n\n\t\n\n\tCareer Objective: \n...       SQL
12  b'Tatikonda Kiran Kumar.\n\n\n\n\n\n\n\n\t\tCa...       SQL
13  b'SQL AND MSBI DEVELOPER\n\nSQL AND MSBI DEVEL...       SQL

In [16]:
directory5 = 'Resumes/workday resumes/'
workday_resumes = os.listdir('Resumes/workday resumes/')
for workday_resume in workday_resumes:
    if workday_resume.endswith('.doc'):
        os.path.join(directory5,workday_resume)
        print(os.path.join(directory5,workday_resume))
        doc2docx.convert(os.path.join(directory5,workday_resume))

Resumes/workday resumes/Hari Krishna M_Hexaware.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/workday resumes/Harikrishna Akula_Hexaware.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/workday resumes/Hima Mendu_Hexaware.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/workday resumes/J. Sumanth Royal_Hexaware.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/workday resumes/Madeeswar A_Hexaware.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/workday resumes/Naresh Babu Cherukuri_Hexaware.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/workday resumes/Punugoti Swetha_Hexaware.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/workday resumes/ShireeshKumar_Hexaware.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/workday resumes/Sri Krishna S_Hexaware.doc

  0%|          | 0/1 [00:00<?, ?it/s]

Resumes/workday resumes/Venkateswarlu B_Hexaware.doc

  0%|          | 0/1 [00:00<?, ?it/s]

In [17]:
file_path5 = []
category5  = []
for workday_resume in workday_resumes:
    if workday_resume.endswith('.docx'):
        os.path.join(directory5,workday_resume)
        file_path5.append(textract.process(os.path.join(directory5,workday_resume)))
        category5.append('Workday')

In [18]:
data5 = pd.DataFrame(file_path5,columns = ['Raw Details'])
data5['Category5'] = category5
data5

                                          Raw Details Category5
0   b'Chinna Subbarayudu M\n\nDOB: 06th March 1994...   Workday
1   b'Name         : Gopi Krishna Reddy\n\n\t\t\t\...   Workday
2   b"Hari Krishna M\n\n\n\n\n\nSummary:\n\nA resu...   Workday
3   b"Harikrishna Akula                           ...   Workday
4   b'HIMA.MENDU\n\n\t  \n\n\n\nCareer Objective\n...   Workday
5   b'G Himaja\n\n                                ...   Workday
6   b"Name:\tJ. Sumanth Royal.\n\n\t\n\nPROFESSION...   Workday
7   b'JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SU...   Workday
8   b'Madeeswar A\n\n\t\n\n\t\t\n\n\t\t\tPROFILE S...   Workday
9   b'Mooraboyina Guravaiah\n\nWorkday Integration...   Workday
10  b'Name\t: Naresh Babu Cherukuri\n\n\n\nObjecti...   Workday
11  b'VENKATA SAIKRISHNA\n\n Workday Consultant\n\...   Workday
12  b'Punugoti Swetha\n\nWorkday Technical Consult...   Workday
13  b'Workday HCM  Techno functional Consultant   ...   Workday
14  b'Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...   Workday
15  b'Shireesh Balasani                           ...   Workday
16  b"Workday Integration Consultant\n\n\n\nName  ...   Workday
17  b'Srikanth (WORKDAY hCM Consultant)\t         ...   Workday
18  b'WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\...   Workday
19  b'Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consu...   Workday
20  b'Vinay kumar .v\nWorkday Functional Consultan...   Workday

## Appending all the DataFrame and combining them into one single data frame

In [19]:
resume_data = data1.append([data2,data3,data4,data5],ignore_index=True)
resume_data

,Raw Details,Category,Category2,Category3,Category4,Category5
0,b'Name: Ravali P \n\n\n\n ...,Intership,NaN,NaN,NaN,NaN
1,b'SUSOVAN BAG \n\nSeeking a challenging ...,Intership,NaN,NaN,NaN,NaN
2,b'Anubhav Kumar Singh\t\t\n\n\n\nCore Competen...,NaN,Peoplesoft,NaN,NaN,NaN
3,b'G. Ananda Rayudu \n\n\t\t https://www....,NaN,Peoplesoft,NaN,NaN,NaN
4,b'PeopleSoft Database Administrator\n\n ...,NaN,Peoplesoft,NaN,NaN,NaN
...,...,...,...,...,...,...
74,"b""Workday Integration Consultant\n\n\n\nName ...",NaN,NaN,NaN,NaN,Workday
75,b'Srikanth (WORKDAY hCM Consultant)\t ...,NaN,NaN,NaN,NaN,Workday
76,b'WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\...,NaN,NaN,NaN,NaN,Workday
77,b'Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consu...,NaN,NaN,NaN,NaN,Workday
78,b'Vinay kumar .v\nWorkday Functional Consultan...,NaN,NaN,NaN,NaN,Workday

In [20]:
resume_data['Resume_Category'] = category1+category2+category3+category4+category5
resume_data

,Raw Details,Category,Category2,Category3,Category4,Category5,Resume_Category
0,b'Name: Ravali P \n\n\n\n ...,Intership,NaN,NaN,NaN,NaN,Intership
1,b'SUSOVAN BAG \n\nSeeking a challenging ...,Intership,NaN,NaN,NaN,NaN,Intership
2,b'Anubhav Kumar Singh\t\t\n\n\n\nCore Competen...,NaN,Peoplesoft,NaN,NaN,NaN,Peoplesoft
3,b'G. Ananda Rayudu \n\n\t\t https://www....,NaN,Peoplesoft,NaN,NaN,NaN,Peoplesoft
4,b'PeopleSoft Database Administrator\n\n ...,NaN,Peoplesoft,NaN,NaN,NaN,Peoplesoft
...,...,...,...,...,...,...,...
74,"b""Workday Integration Consultant\n\n\n\nName ...",NaN,NaN,NaN,NaN,Workday,Workday
75,b'Srikanth (WORKDAY hCM Consultant)\t ...,NaN,NaN,NaN,NaN,Workday,Workday
76,b'WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\...,NaN,NaN,NaN,NaN,Workday,Workday
77,b'Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consu...,NaN,NaN,NaN,NaN,Workday,Workday
78,b'Vinay kumar .v\nWorkday Functional Consultan...,NaN,NaN,NaN,NaN,Workday,Workday

In [21]:
resume_data.drop(['Category', 'Category2', 'Category3', 'Category4','Category5'], axis = 1, inplace = True)

In [22]:
resume_data = resume_data[['Resume_Category','Raw Details']]
resume_data

   Resume_Category                                        Raw Details
0        Intership  b'Name: Ravali P \n\n\n\n                     ...
1        Intership  b'SUSOVAN  BAG   \n\nSeeking  a  challenging  ...
2       Peoplesoft  b'Anubhav Kumar Singh\t\t\n\n\n\nCore Competen...
3       Peoplesoft  b'G. Ananda Rayudu \n\n\t\t       https://www....
4       Peoplesoft  b'PeopleSoft Database Administrator\n\n       ...
..             ...                                                ...
74         Workday  b"Workday Integration Consultant\n\n\n\nName  ...
75         Workday  b'Srikanth (WORKDAY hCM Consultant)\t         ...
76         Workday  b'WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\...
77         Workday  b'Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consu...
78         Workday  b'Vinay kumar .v\nWorkday Functional Consultan...

[79 rows x 2 columns]

In [23]:
le = LabelEncoder()
resume_data['Category_num'] = le.fit_transform(resume_data['Resume_Category'])
resume_data

,Resume_Category,Raw Details,Category_num
0,Intership,b'Name: Ravali P \n\n\n\n ...,0
1,Intership,b'SUSOVAN BAG \n\nSeeking a challenging ...,0
2,Peoplesoft,b'Anubhav Kumar Singh\t\t\n\n\n\nCore Competen...,1
3,Peoplesoft,b'G. Ananda Rayudu \n\n\t\t https://www....,1
4,Peoplesoft,b'PeopleSoft Database Administrator\n\n ...,1
...,...,...,...
74,Workday,"b""Workday Integration Consultant\n\n\n\nName ...",4
75,Workday,b'Srikanth (WORKDAY hCM Consultant)\t ...,4
76,Workday,b'WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\...,4
77,Workday,b'Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consu...,4
78,Workday,b'Vinay kumar .v\nWorkday Functional Consultan...,4

## Save the data in csv form resume data for further processing

In [24]:
resume_data.to_csv("resume_data.csv",index=False)